.cal-days {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-radius: 2px;
}

/*
    cal-day-cell visual
*/
.cal-day {
    min-height: 100px;
    border-right: 1px solid #e1e1e1;
    position: relative;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

/*
    usual day number
*/
.cal-day-number {
    font-size: 1.2em;
    font-weight: normal;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    margin-top: 15px;
    /*margin-right: 15px;*/
    float: right;
}

/*
    day not in this month
*/
.cal-day-out-month > .cal-day-number {
    opacity: 0.1;
    cursor: default;
}

/*
    weekend day
*/
.cal-day-weekend > .cal-day-number {
    color: darkred;
}

/*
    usual week
*/
.cal-week {
    border-bottom: 1px solid #e1e1e1;
    margin-left: 0px;
    margin-right: 0px;
}

/*
    calendar head
 */
.cal-weekday {
    font-weight: bolder;
    text-align: center;
    border: 0px solid;
    padding: 5px 0;
    min-height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 800px) {
    .cal-fluid .col-md-3,
    .cal-fluid .col-sm-4,
    .cal-fluid .col-xs-6 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}