
/* save answer button */
#save-btn {
    color: white;
    float: right;
    font-weight: bold;
}

/* меняем вид цифр */
span[data-cal-date] {
    font-weight: bold;
    font-family: "Brush Script MT", cursive;
    font-size: 4.2em;
    opacity: 1.5;
}

/* меняем вид числа today */
.cal-month-box .cal-day-today span[data-cal-date] {
    font-size: 4.2em;
}
/* меняем цвет фона today */
.cal-day-today {
    background-color: #fcfbe3;
}
/* меняем цвет праздников */
.cal-day-holiday span[data-cal-date] {
    color: darkred;
}
/* меняем вид отображения списка событий */
#cal-slide-content {
    padding: 10px !important;
    background: #e66b6b none !important;
}
/* меняем вид отображения списка событий при наведении */
#cal-slide-content:hover {

}
/* текст внутри textarea в отображении списка событий */
#cal-slide-content {
    color: black !important;
}
/* отображение вопроса в списке событий */
h3.question-header {
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
}
/* отображение ответа в списке событий */
textarea.question-body {
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    font-size: 22px;
    line-height: 50px;
    padding: 11px 20px 0 70px;
    resize: none;
    width: 100%;

    background-image: -moz-linear-gradient(top, transparent, transparent 49px, #E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46%, circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%);
    background-image: -webkit-linear-gradient(top, transparent, transparent 49px, #E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);

    -webkit-background-size: 100% 50px;
    background-size: 100% 50px;
}

div.cal-row-fluid.disabled,
div.cal-row-fluid.disabled:hover {
    background-color: #eeeeee;
}

.cal-year-box .row-fluid:hover,
.cal-row-fluid:hover {
    background-color: white;
}

[class*="cal-cell"]:hover {
    background-color: #f28c8c;
}

#events-modal > div > div > div.modal-body {
    height: 100%;
}

.body {
    padding: 2%;
}

#calendar_control-btn-group {
    float: right;
}