.white {
    color: white;
}

.red {
    color: #e66b6b
}

.btn-danger {
    background-color: #e66b6b
}

.alert-danger {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: -38px;
    background-color: transparent !important;
}

.vertical-line {
    border: 0;
    border-right: 1px solid #eeeeee;
}

.lower-top-10 {
    padding-top: 10px;
}

.lower-top-15 {
    padding-top: 15px;
}

.lower-top-20 {
    padding-top: 20px;
}

.lower-top-25 {
    padding-top: 25px;
}

.lower-top-30 {
    padding-top: 30px;
}