/* MAIN */

* {
    font-family: "gibson-regular","Open Sans",Arial,sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fcfbe3;
}

/*
  Main section. Whole calendrr style
*/
.main {
    border-radius: 20px;
    background-color: white;
}

.ring-left,
.ring-right {
    position: absolute;
    top: 190px;
}

.ring-left {
    left: 25%;
}

.ring-right {
    right: 25%;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
    content: "";
    display: inline-block;
    margin: 8px;
    height: 32px;
    width: 8px;
}

#title {
    font-size: 4em;
    line-height: 1em;
    float: right;
}

/* NAVIGATION */
#menu-nav {
    float: right;
}

#menu-nav ul li {
    display: inline;
    list-style: none;
}

#menu-nav ul li a {
    color: white;
}

#navigation.nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

#navigation.nav {
    padding: 20px 50px 50px 50px;
    border-radius: 15px;
    background-color: #e66b6b;
    position:relative;
}

#navigation .locales {
    float: right;
}

#navigation .date_number {
    color: white;
    font-size: 8em;
    font-weight: 900;
    line-height: 1em;
}

#navigation .date_month {
    margin-top: -20px;
    color: white;
    font-size: 4em;
    line-height: 1em;
    text-transform: lowercase;
}

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
}

footer .copyright li {
    color: #525252;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ie footer .copyright li {
    display: inline;
}

footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #525252;
}

footer .copyright li:first-child:before {
    display: none;
}

ul.copyright {
    list-style-type: none;
}