.header-text {
    font-weight: bold;
    font-size: 25pt;
    color: #e66b6b;
    text-align: center;
}

div.social-btn {
    width: 11.6%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
    top: 86%;
}

/* цвет активного кружка в каруселе */
.carousel-indicators .active {
    background-color: black;
}

/* цвет бордера неактивного кружка в каруселе */
.carousel-indicators li {
    border: 1px solid black;
}

.carousel-inner .item {
    width: auto;
    height: 500px;
    max-height: 500px;
}

/* убираем градиент у контролов карусели */
.carousel-control.left {
    background-image: none !important;
}

.carousel-control.left .glyphicon {
    color: black;
}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.right .glyphicon {
    color: black;
}

.body {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#login-module .login {
    text-align: center;
    padding-left: inherit !important;
    padding-right: inherit !important;
}

.login h2 {
    font-size: 18px;
}

.social {
    margin: 0 0 !important;
    padding: 0;
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

.social li {
    display: inline-block;
    margin: 0 5px !important;
    padding: 0;
}

#login-form hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#login-form .register-text {
    display: none;
}